<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " >
      <img src="../../../assets/Top Tournament SIN FONDO x.png"  routerLink="/inicio" routerLinkActive="active" width="100" class="d-inline-block align-text-top"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--
        <li class="nav-item">
          <a *ngIf="userService.getIdentidad().type==='Administrador'" style="color:black" class="nav-link" routerLink="/usuarios" routerLinkActive="active"><i class="bi bi-people-fill"></i> Usuarios</a>
        </li>
        -->
      </ul>
    </div>
    <div class="dropstart">
      <button class="btn btn-outline-light dropdown-toggle"
        style="color:black" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
      <ng-container *ngIf="userService.getIdentidad() != null">{{identidad.user}}</ng-container>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="nav-item">
          <a style="color:black" class="nav-link"
            data-bs-toggle="modal" data-bs-target="#modelLogin">
        <i class="bi bi-door-open-fill"></i> Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a style="color:black" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#datosCanvas"
          aria-controls="datosCanvas"><i class="bi bi-person-lines-fill"></i> Ver perfil</a>
        </li>
        <li class="nav-item">
          <a  style="color:black" class="nav-link" class="nav-link"routerLink="/registro" ><i class="bi bi-person-plus-fill"></i> Registrar</a>
        </li>
        <li class="nav-item">
          <a  *ngIf="userService.getIdentidad() != null && userService.getIdentidad().type==='Administrador'" style="color:black"  class="nav-link" class="nav-link"routerLink="/usuarios" ><i class="bi bi-people-fill"></i> Ver usuarios</a>
        </li>
      </ul>
    </div>
    <div>
      <img *ngIf="userService.getIdentidad() == null"
        src="https://s3.ap-south-1.amazonaws.com/in.co.erudition/cdn-in-thegracehotels/images/user.svg"
        style="border-radius:150px;"
        width="50"
      >

        <img *ngIf="userService.getIdentidad().picture == null"
        src="https://s3.ap-south-1.amazonaws.com/in.co.erudition/cdn-in-thegracehotels/images/user.svg"
        style="border-radius:150px;"
        width="50"
      >


      <img *ngIf="userService.getIdentidad() != null"
        src="{{identidad.picture}}"
        style="border-radius:150px;"
        width="50"
      >
    </div>
  </div>
</nav>

<!--Modal LOGIN-->
<div class="modal fade modal-dialog modal-sm modal fade" id="modelLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div>
        <img src="../../../assets/HostGatorWeb.jpg" class="img-thumbnail">
      </div>
      <div class="modal-body ">
        <form>
          <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario"
            name="usuario" #usuario="ngModel" [(ngModel)]="userModel.user">
            </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password"
            name="password" #password="ngModel" [(ngModel)]="userModel.password">
            </div>
        </form>
        <a style="color:black" routerLink="/registro" data-bs-dismiss="modal">¿No tienes cuenta?</a>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="login()">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Offcanvas Datos Perfil -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="datosCanvas" aria-labelledby="datosCanvas">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Perfil</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *ngIf="userService.getIdentidad()">
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre"
        #nombre="ngModel" [(ngModel)]="identidad.name" disabled>
      </div>
      <div class="mb-3">
        <label for="inputApellido" class="form-label">Apellido:</label>
        <input type="text" class="form-control" id="inputApellido" name="lastName"
        #lastName="ngModel" [(ngModel)]="identidad.lastName" disabled>
      </div>

      <div class="mb-3">
        <label for="inputUsuario" class="form-label">Usuario:</label>
        <input type="text" class="form-control" id="inputUsuario" name="usuario"
        #usuario="ngModel" [(ngModel)]="identidad.user" disabled>
      </div>

      <div class="mb-3">
        <label for="inputEmail" class="form-label">E-Mail:</label>
        <input type="text" class="form-control" id="inputEmail" name="email"
        #email="ngModel" [(ngModel)]="identidad.email" disabled>
      </div>

      <div class="mb-3">
        <label for="inputFechNa" class="form-label">Fecha de Nacimiento:</label>
        <input type="text" class="form-control" id="inputFechNa" name="fechaNacimiento"
        #fechaNacimiento="ngModel" [(ngModel)]="identidad.age" disabled>
      </div>
    </form>
  </div>
  <div class="offcanvas-footer">
    <img src="../../../assets/Top Tournament.png" style="max-width: 40%;" alt="...">
    <div *ngIf="userService.getIdentidad() != null && identidad.type==='Usuario'" class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-dark" (click)="obtenerUsuarioId(identidad._id)"
      data-bs-toggle="modal" data-bs-target="#editarUsuarioMd"><i class="bi bi-pencil-square"></i></button>
      <button type="button" class="btn btn-dark" (click)="obtenerUsuarioId(identidad._id)"
      data-bs-toggle="modal" data-bs-target="#modalEliminarUsuario"><i class="bi bi-trash-fill"></i></button>
    </div>
  </div>
</div>

<!-- Modal Eliminar Usuario -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="userService.getIdentidad() != null">
        ¿Esta seguro de que desea eliminar el usuario, {{identidad.user }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> No, cerrar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="eliminarUsuario(identidad._id)"><i class="bi bi-check-square"></i> Si, eliminar <i class="bi bi-trash"></i></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar Usuario -->
<div class="modal fade" id="editarUsuarioMd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="userService.getIdentidad() != null">
        <form>
          <div class="mb-3">
            <label for="inputNombre" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre"
            #nombre="ngModel" [(ngModel)]="userModel.name">
          </div>
          <div class="mb-3">
            <label for="inputApellido" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="inputApellido" name="lastName"
            #lastName="ngModel" [(ngModel)]="userModel.lastName">
          </div>
          <!--
          <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="inputUsuario" name="usuario"
            #usuario="ngModel" [(ngModel)]="userModel.user">
          </div>
          -->
          <div class="mb-3">
            <label for="inputEmail" class="form-label">E-Mail:</label>
            <input type="text" class="form-control" id="inputEmail" name="email"
            #email="ngModel" [(ngModel)]="userModel.email">
          </div>
          <div class="mb-3">
            <label for="inputPicture" class="form-label">Imagen de perfil:</label>
            <input type="text" class="form-control" id="inputPicture" name="picture"
            #picture="ngModel" [(ngModel)]="userModel.picture">
          </div>
          <!--
          <div class="mb-3">
            <label for="inputFechNa" class="form-label">Fecha de Nacimiento:</label>
            <input type="text" class="form-control" id="inputFechNa" name="fechaNacimiento"
            #fechaNacimiento="ngModel" [(ngModel)]="userModel.age">
          </div>
        -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Cerrar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="editarUsuario()"><i class="bi bi-save"></i> Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
